{% extends "base.html" %}

{% block extra_title %} | Admin Projects{% endblock %}

{% block content %}
<section class="py-5 bg-light">
    <div class="container py-lg-4">

        <div class="mb-5">
            <p class="text-uppercase font-weight-bold text-secondary mb-2">
                Admin Area
            </p>

            <h1 class="font-weight-bold">
                Projects
            </h1>

            <p class="lead text-muted mb-0">
                View and manage all client projects.
            </p>
        </div>

        <div class="bg-white border shadow-sm p-4">
            <div class="mb-4 text-right">
                <a href="{% url 'admin_create_project' %}" class="btn btn-dark">
              Create Project
             </a>
        </div>
            {% if projects %}
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <div class="mb-4 text-right">
    <a href="{% url 'admin_create_project' %}" class="btn btn-dark">
        Create Project
    </a>
</div>
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Client</th>
                                <th>Status</th>
                                <th>Progress</th>
                                <th>Due Date</th>
                                <th>Created</th>
                            </tr>
                        </thead>

                        <tbody>

    {% for project in projects %}

        <tr>

            <td>
                <a href="{% url 'admin_project_detail' project.id %}">
                    {{ project.title }}
                </a>
            </td>

            <td>
                {{ project.client.username }}
            </td>

            <td>
                {{ project.get_status_display }}
            </td>

            <td>
                {{ project.progress }}%
            </td>

            <td>
                {% if project.due_date %}
                    {{ project.due_date|date:"d M Y" }}
                {% else %}
                    -
                {% endif %}
            </td>

            <td>
                {{ project.created_at|date:"d M Y" }}
            </td>

        </tr>

    {% endfor %}

</tbody>
                    </table>
                </div>
            {% else %}
                <p class="text-muted mb-0">
                    No projects created yet.
                </p>
            {% endif %}

        </div>

    </div>
</section>
{% endblock %}